<!-- Navigation -->
<nav class="navbar navbar-expand navbar-light fixed-top" id="mainNav">
    <div class="container">
        <img style="height:3em;padding-right:2em" src="~/Content/img/logo_academyDelEspanol_minified.png" />
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Academy del Español</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#classes">Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#place">Place</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#student">Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#instructor">Instructor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#More">
                        More On Spanish
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h3 class="text-uppercase text-red">
                    <strong>To be a world citizen nowadays, we have to keep pushing our skill beyond the boundary.</strong>
                </h3>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto div-fade text-yellow">
                <p class="mb-4">Academy del Espanol aims to be the center where participants can immerse themselves in the language and culture as part of the learning process.</p>
                <p class="mb-4">With lively and professional vibe, our Madrid-born founder has passionately distributed the love of teaching with students in Thailand for more than 4 years.</p>
            </div>
        </div>
    </div>
</header>

@Html.Partial("pv_services")
@Html.Partial("pv_classes")
@Html.Partial("pv_place")
@Html.Partial("pv_student")
@Html.Partial("pv_instructor")
@Html.Partial("pv_contact")

@* == Partialview popup pages == *@

@Html.Partial("pv_company")
@Html.Partial("pv_online")
@Html.Partial("pv_group")
@Html.Partial("pv_private")
@Html.Partial("pv_children")
@Html.Partial("pv_tutor")
@Html.Partial("pv_special")
@Html.Partial("pv_exam")

@* == Partialview popup DELE exam pages == *@

@Html.Partial("pv_dele")

@* == Instructors == *@

@Html.Partial("pv_david")
@Html.Partial("pv_ana")
@Html.Partial("pv_pablo")


